<%- include('../partials/nav') %>

<h1>View All Listings</h1>

<% allListings.forEach(element => { %>
    
    
    <div>
            <a href="/listings/<%= element._id %>">
            <img src="<%= element.image.url %>" alt="house image" width="300">
            <p>City: <%= element.city %></p>
            <p>Owend By: <%= element.owner.username %></p>
            </a>
    </div>
    
    <% }) %>
    
</body>
</html>


