<%- include('../partials/nav') %>

    <h1>I'm A listing</h1>
    <img src="<%= foundListing.image.url %>" alt="house image" width="300">
    <p>City: <%= foundListing.city %>
    </p>
    <p>Price <%= foundListing.price %>
    </p>
    <p>Street Address <%= foundListing.streetAddress %>
    </p>
    <p>Size <%= foundListing.size %>
    </p>

    <% if (foundListing.owner._id.equals(user._id)) { %>
        you own this
        <form action="/listings/<%= foundListing._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete this Listing</button>
        </form>
        <a href="/listings/<%= foundListing._id %>/edit">Edit this Listing</a>
        <% } %>
            <p>Owend By: <%= foundListing.owner.username %>
            </p>
            <section>
                <h2>Favorits</h2>
                <% if ( foundListing.favoritedByUsers.length===0) { %>
                    <p>No one favorited this listing yet.</p>
                    <% } else if ( foundListing.favoritedByUsers.length===1) { %>
                        <p>Favorited by <%= foundListing.favoritedByUsers.length %> person.</p>
                        <% } else { %>
                            <p>Favorited by <%= foundListing.favoritedByUsers.length %> people.</p>
                            <% } %>
                                <% if (userHasFavorited) { %>
                                    <form
                                        action="/listings/<%= foundListing._id %>/favorited-by/<%= user._id %>?_method=DELETE"
                                        method="post">
                                        <button type="submit">👎</button>
                                    </form>
                                    <% }else{ %>
                                        <form action="/listings/<%= foundListing._id %>/favorited-by/<%= user._id %>"
                                            method="post">
                                            <button type="submit">♥</button>
                                        </form>
                                        <% } %>
            </section>

            <section>
                <h2>Questions about this property?</h2>
                <form action="/listings/<%= foundListing._id %>/questions" method="post">
                    <textarea name="text" rows="4" required></textarea>
                    <br>
                    <button type="submit">Ask Question</button>
                </form>
                <h3>Quistions from users</h3>
                <% foundListing.questins.forEach((element)=> { %>
                    <p>
                        <%= element.text %>
                    </p>
                    <p>Asked by: <%= element.author.username %>
                    </p>
                    <% }) %>
            </section>


            </body>

            </html>